
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	::-webkit-scrollbar { width: 10px; }
	::-webkit-scrollbar-track { background: #333; border-radius: 1em; }
	::-webkit-scrollbar-thumb { background: #666; border-radius: 1em; }
	::-webkit-scrollbar-thumb:hover { background: #777; }

	scrollbar-color: #333 #666;
	scrollbar-width: auto;
}

html {
	font-size: 16px;
	font-family: sans-serif;
	background: #111;
	color: #fff8;

	--construct-alpha: yellow;
	--construct-bravo: lime;
	--construct-bg-a: #181818;
	--construct-bg-b: #000;
	--construct-bg-c: #333;

	&[data-drop-highlight]::before {
		display: block;
		position: fixed;
		content: "";
		z-index: 10;
		inset: 0;
		background: #00aaff66;
		border: 0.5em dashed white;
	}
}

html, body {
	min-height: 100%;
}

.foundation {
	width: 100vw;
	height: 100vh;
}

nub-context {
	display: contents;
}

